# Sentiment Analysis

**Importing and Reading the dataset:**

In [0]:
import pandas as pd

data = pd.read_excel("/content/drive/My Drive/Data/Misc/Tweets.xlsx")
data

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                         NaN
14636  569587371693355008  ...                         NaN
14637  569587242672398336  ...                         NaN
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...                         NaN

[14640 rows x 9 columns]

**Deleting unneccessary columns and realigning the dataset:**

In [0]:
data.drop(["retweet_count", "tweet_coord", "tweet_created","tweet_location", "user_timezone"], axis = 1)
data = data[["tweet_id", "name", "airline", "text"]]
data

                 tweet_id  ...                                               text
0      570306133677760513  ...                @VirginAmerica What @dhepburn said.
1      570301130888122368  ...  @VirginAmerica plus you've added commercials t...
2      570301083672813571  ...  @VirginAmerica I didn't today... Must mean I n...
3      570301031407624196  ...  @VirginAmerica it's really aggressive to blast...
4      570300817074462722  ...  @VirginAmerica and it's a really big bad thing...
...                   ...  ...                                                ...
14635  569587686496825344  ...  @AmericanAir thank you we got on a different f...
14636  569587371693355008  ...  @AmericanAir leaving over 20 minutes Late Flig...
14637  569587242672398336  ...  @AmericanAir Please bring American Airlines to...
14638  569587188687634433  ...  @AmericanAir you have my money, you change my ...
14639  569587140490866689  ...  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 4 columns]

**Removing @VirginAmerica and @AmericanAir tags from the text bodies:**

In [0]:
data['text'] = data['text'].map(lambda x: x.strip("@VirginAmerica"))
data["text"].str.strip()
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                 tweet_id  ...                                               text
0      570306133677760513  ...                               What @dhepburn said.
1      570301130888122368  ...   plus you've added commercials to the experien...
2      570301083672813571  ...   I didn't today... Must mean I need to take an...
3      570301031407624196  ...   it's really aggressive to blast obnoxious "en...
4      570300817074462722  ...           and it's a really big bad thing about it
...                   ...  ...                                                ...
14635  569587686496825344  ...   thank you we got on a different flight to Chi...
14636  569587371693355008  ...   leaving over 20 minutes Late Flight. No warni...
14637  569587242672398336  ...    Please bring American Airlines to #BlackBerry10
14638  569587188687634433  ...   you have my money, you change my flight, and ...
14639  569587140490866689  ...   we have 8 ppl so we need 2 know how many seat...

[14640 rows x 4 columns]

**Importing and Downloading Required Packages:**

In [0]:
import nltk
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
from textblob import TextBlob

def process(senetence):
	blob = TextBlob(senetence)
	sum = 0
	p = 0
	n = 0
	for sentence in blob.sentences:
		if sentence.sentiment.polarity < 0 :
			n += 1
		elif sentence.sentiment.polarity > 0 :
			p += 1
	if n > p :
		return "Negative"
	elif n < p :
		return "Postive"
	else :
		return "Neutral"

In [0]:
for i in range(0,len(data)):
    data.loc[i, "sentiment"] = process(data["text"][i])

data

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

                 tweet_id  ... sentiment
0      570306133677760513  ...   Neutral
1      570301130888122368  ...   Neutral
2      570301083672813571  ...  Negative
3      570301031407624196  ...   Postive
4      570300817074462722  ...  Negative
...                   ...  ...       ...
14635  569587686496825344  ...   Neutral
14636  569587371693355008  ...  Negative
14637  569587242672398336  ...   Neutral
14638  569587188687634433  ...  Negative
14639  569587140490866689  ...   Postive

[14640 rows x 5 columns]

**Alternatively, we can also run a Lambda function to do the same thing:**

In [0]:
data["sentiment"] = data["text"].apply(lambda x: process(x))
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                 tweet_id  ... sentiment
0      570306133677760513  ...   Neutral
1      570301130888122368  ...   Neutral
2      570301083672813571  ...  Negative
3      570301031407624196  ...   Postive
4      570300817074462722  ...  Negative
...                   ...  ...       ...
14635  569587686496825344  ...   Neutral
14636  569587371693355008  ...  Negative
14637  569587242672398336  ...   Neutral
14638  569587188687634433  ...  Negative
14639  569587140490866689  ...   Postive

[14640 rows x 5 columns]